version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: saga-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orderdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - saga-network

networks:
  saga-network:
    driver: bridge

volumes:
  postgres_data: